@font-face {
  font-family: 'ElleFutura';
  src: url('ElleFutura.eot?#iefix') format('embedded-opentype'),  url('ElleFutura.otf')  format('opentype'),
	     url('ElleFutura.woff') format('woff'), url('ElleFutura.ttf')  format('truetype'), url('ElleFutura.svg#ElleFutura') format('svg');
  font-weight: normal;
  font-style: normal;
}








