@font-face {
  font-family: 'ElleFutura-Bold';
  src: url('ElleFutura-Bold.eot?#iefix') format('embedded-opentype'),  url('ElleFutura-Bold.otf')  format('opentype'),
	     url('ElleFutura-Bold.woff') format('woff'), url('ElleFutura-Bold.ttf')  format('truetype'), url('ElleFutura-Bold.svg#ElleFutura-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}








